* {
	margin: 0;
	padding: 0;
 	list-style: none;
}

.content {
	width: 85%;
	margin: 50px auto;
	max-height:60%;
	border: 1px solid #e0dede;
	padding:1%;
}

.content::after {
	content: "";
	display: block;
	clear: both;
}

.d1, .d2 span, input, select, textarea {
	margin-top: 7px;
	margin-bottom: 7px;
}

.d1, .d2 {
	width: 32%;
	float: left;
	margin: 5px;
/* 	border: 1px solid black; */
}
.d1{
	margin-left: 15%;
}
.d2{
	width: 25%;

}
 

.d1 textarea {
	width: 41%;
	resize: none;
	overflow-x: hidden;
	warp: break-word;
	height: 80px;
}

.d1 span:nth-of-type(5) {
	float: left;
	margin-top: 4px;
}

.d1 span {
	display: inline-block;
	width: 80px;
}

.d1 input {
	width: 40%;
}

.d1 input[type=file] {
	width: 200px;
}

.content  p {
	display: inline-block;
	margin-left: 10px;
	color: red;
	font-size: 12px;
	width: 100px;
}

.areap {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 6px;
}

.d2 {
	float: left;
	display: inline-block;
}

.d2 input {
width: 30%;
}

.b1 {
	width:22%;   
	float: right;  
	margin-right: 3%;     
/* 	border:1px solid black; */
	margin-top: 3%;
}
.b1 input {
	margin-top: 8px;
 
	width: 30px;
}
.b1 input[type="submit"] {
	width: 100px;
}
.b2 {
	width:22%;
	float: right;
	color: red;
/* 	border:1px solid black; */
	margin-top: 3%;
	margin-right: 3%;
	font-size: 16px;
}

.d2 div {
	margin-top: 15px;
	margin-bottom: 15px;
}