* {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}


.controlPage {
	text-align: center;
}

.itemManger_show_table {
	width: 90%;
	border: 1px solid #633434;
	margin: 20px auto;
	text-align: center;
	border-spacing: 0;
	padding: 0;
}

.itemManger_show_table th, .itemManger_show_table td {
	border: 1px solid #633434;
}

.itemManger_show_table img {
	max-height: 200px;
}
.itemManger_show_table tr th{
	 
	background:#efe6e6; 
}

.itemManger_show_table tr th:NTH-OF-TYPE(1) {
	width: 13%;
	 
}

.itemManger_show_table tr th:NTH-OF-TYPE(2) {
	width: 19%;
	 
}

.itemManger_show_table tr th:NTH-OF-TYPE(3) {
	width: 19%;
 
}

.itemManger_show_table tr th:NTH-OF-TYPE(4) {
	width: 9%;
	 
}

.itemManger_show_table tr th:NTH-OF-TYPE(5) {
	width: 9%;
	 
}

.itemManger_show_table tr th:NTH-OF-TYPE(6) {
	width: 9%;
}

.itemManger_show_table tr th:NTH-OF-TYPE(7) {
	width: 25%;
	 
}