* {
    margin: 0;
    padding: 0;
	font-size:18px;
 
}


.content {
    width: 85%;
    margin: 5px auto;
    border: 2px solid #d8d0d0;
    padding: 1%;
		
}
.content::after {
    content: "";
    display: block;
    clear: both;
}


.d1,.d2 span,input,select,textarea{
	margin-top:7px;
	margin-bottom:7px;
}
.d1,.d2 {
 
    float: left;
    margin: 1%;
/*     border: 1px solid black; */
}

.d1{
	width:42%;
	margin-left: 3%;
}
.d1 textarea{
	width:41%;
	 resize : none;
	 overflow-x:hidden;
	 warp:break-word;
	 height: 80px;
}
.d1 span:nth-of-type(5){
float:left;
margin-top:4px;
}
.d1 span{
	display:inline-block;
	width:80px;
}
.d1 input{
	width:40%;
	
}
.d1 input[type=file]{
	width:200px;
}



.content  p{
	display:inline-block;
	margin-left:10px;
	color:red;
	font-size:12px;
	width:100px;
	
	
}
.areap{
    display: inline-block;
    vertical-align :bottom;
    margin-bottom: 6px;
}

.d2 {
	width:25%;
    float: left;
    display: inline-block;
}

.d2 input{
    width: 50%;
}

.b1,.b2{
	margin-right: 3%;
	
}

.b1 {
    width: 22%;
    float: right;
    margin-right:3%;
/*     border:1px solid black; */
     margin-top:1%;
}

.b1 input {
    margin-top: 8px;
/*     margin-left:50px;  */
    width: 30px;
}
.b1 input[type="submit"] {
    width: 100px;
/* 	 margin-left:30px; */
	
}
.b2{
	 width: 22%;
	 float: right;
	 color:red;
/* 	 border:1px solid black; */
	 margin-top:1%;
    margin-right:3%;
	 font-size:16px;
}


