* {
	font-family: 'Bellefair', serif;
}

 

/* .form { */
/* 	display: inline-block; */
/* 	border: 1p */
/* } */
.sType div[class^=type]{
	
	
 
}

/* main content */
.sType {
	margin:0 auto;
	width:50%;
	margin-top: 1%;
 
}
.FillOrdInfo_cp{
	margin-top: 1%;
}

.sType span {
	font-family: 微軟正黑體;
	padding-top: 1%;
	/* border: 1px solid black; */
}
.sType div span:NTH-OF-TYPE(1){
	display:inline-block;
	width:100px;

}
.inputType span {
	font-family: 微軟正黑體;
	/* mpadding-top: 1%; */
	/* border: 1px solid black;     */
}

.FillOrdInfo_type1 {
	/* border: 1px solid black; */
	margin-top: 1%;
}

.FillOrdInfo_type2 {
	/* border: 1px solid black; */
	margin-top: 1%;
}

.FillOrdInfo_type3 {
	/* border: 1px solid black; */
	margin-top: 1%;
}

.FillOrdInfo_type4 {
	/* border: 1px solid black; */
	margin-top: 1%;
}

/* check order */
.checkorder {
 	text-align:center;
	font-family: 微軟正黑體;
	font-weight: bold;
	margin:20px  auto;
	

	/* border: 1px solid black; */
}
.inner_checkorder{
	width:inline-block;
	
}
.ordData {
	margin-top: 5px;
 
}

.ordData td {
	font-family: 微軟正黑體;

	/* border: 1px solid black; */
}

.FillOrdInfo_pname {
	padding-right: 120px;
	 
}

.table_FillOrdInfo {

    border-collapse: collapse;
	margin : 0 auto;
   
}
.table_FillOrdInfo td{
    border-bottom: 1px solid gray;
   padding: 5px;
}

.table_FillOrdInfo td:nth-of-type(1) {  
    width: 350px;

}.table_FillOrdInfo td:nth-of-type(1) img{  
    height: 80px;
    float:left; 
    
}
.table_FillOrdInfo td:nth-of-type(1) span{  
   
    float:left;
}
.table_FillOrdInfo td:nth-of-type(1) span::after{  
   content: "";
   display: block;
   clear: both;
}
.table_FillOrdInfo td:nth-of-type(2) {
    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(3) {  
    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(4) { 
    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(5) {

    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(6) { 
    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(7) {
    width: 60px;
}
.table_FillOrdInfo td:nth-of-type(8) { 
	
    width: 50px;
}

