<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

 
	<bean id="dataSourceC3P0" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/belle_rever?useUnicode=true&amp;setCharacterEncoding=utf8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="password"></property>
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="30"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="acquireIncrement" value="3"></property>
		<property name="maxIdleTime" value="60"></property>
	</bean>
	<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceC3P0"></property>
	</bean>	
	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSourceC3P0"></property>
	</bean>
	
<!-- 	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy> -->

 
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="home.register.model" ></context:component-scan>
	<context:component-scan base-package="manager.itemManager.model"></context:component-scan>
	<context:component-scan base-package="manager.memberManager.model"></context:component-scan>
	<context:component-scan base-package="home.cart.model"></context:component-scan>
	<context:component-scan base-package="home.purchase.model"></context:component-scan>
	<context:component-scan base-package="manager.orderManager.model"></context:component-scan>
	<context:component-scan base-package="_init.model"></context:component-scan>
<!-- 	<context:component-scan base-package="SpringMVCTest"></context:component-scan> -->

</beans>
