<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="dataSourceC3P0" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/belle_rever?useUnicode=true&amp;setCharacterEncoding=utf8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="password"></property>
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="30"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="acquireIncrement" value="3"></property>
		<property name="maxIdleTime" value="60"></property>
	</bean>
	<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceC3P0"></property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
	</bean> 
	<mvc:view-controller path=""/>
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="home.register.model"></context:component-scan>
	<context:component-scan base-package="manager.itemManager.model"></context:component-scan>
	<context:component-scan base-package="manager.memberManager.model"></context:component-scan>
	<context:component-scan base-package="home.cart.model"></context:component-scan>
	<context:component-scan base-package="home.purchase.model"></context:component-scan>
</beans>
