.showCart {
    border-collapse: collapse;

   
}
.showCart td{
    border-bottom: 1px solid gray;
   padding: 5px;
}

.showCart td:nth-of-type(1) {  
    width: 300px;

}.showCart td:nth-of-type(1) img{  
    height: 80px;
    float:left; 
    
}
.showCart td:nth-of-type(1) span{  
   
    float:left;
}
.showCart td:nth-of-type(1) span::after{  
   content: "";
   display: block;
   clear: both;
}
.showCart td:nth-of-type(2) {
    width: 60px;
}
.showCart td:nth-of-type(3) {  
    width: 60px;
}
.showCart td:nth-of-type(4) { 
    width: 60px;
}
.showCart td:nth-of-type(5) {

    width: 60px;
}
.showCart td:nth-of-type(6) { 
    width: 60px;
}
.showCart td:nth-of-type(7) {
    width: 60px;
}
.showCart td:nth-of-type(8) {
    width: 50px;
}
.total_showCart{
	text-align:right; 

}
.content{
	width:50%;
	margin: 60px auto;
}
.confirmOrd_showCart{
	float:right;
	
}
