*{
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.ordStatus{
    background-color: white;
    text-align: center;
    padding: 5px 0 5px 0;

}
.ordStatus li{
    display: inline-block;
    padding: 0 30px 0 30px;

}
.ordStatus a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

table{
	width:90%;
    border-collapse: collapse;
    margin: 20px auto;

}
table tr:nth-of-type(1) td{
    background-color:#efe6e6;    

}
tr td{
    display: inline-block;
    border-bottom: 1px solid black;
}
tr td:nth-of-type(1) {
    width: 20%;
 } 
   
tr td:nth-of-type(2) {
    width:20%;
 } 
tr td:nth-of-type(3) {
    width: 20%;
  } 
 tr td:nth-of-type(4) {
    width: 40%;
 } 
 tr span {
     height: 23px;
 }
.content{
    width: 80%;
    margin: 0 auto;
}
.content::after{
content: "";
display: block;
clear: both;


}
.controlPage{
text-align: center;
 

}


