*{
    list-style: none;
    font-family: monospace;
    font-size: 18px;
    padding: 0;
    margin: 0;


}
.navbar a{
    text-decoration: none;
    color: #07bca1;
}
.navbar{
    background-color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border: 1px solid black;
}
.navbar li{
    display: inline-block;
    padding: 0 30px 0 30px;
    border: 1px solid black;
}
.navbar li a:hover{
    color:#058471;
}

.ordStatus{
    background-color: white;
    text-align: center;
    padding: 5px 0 5px 0;

}
.ordStatus li{
    display: inline-block;
    padding: 0 30px 0 30px;

}
.ordStatus a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

table{
    
    border-collapse: collapse;
    margin: 20px auto;


}
table tr:nth-of-type(1) td{
    background-color:#e0dede;    

}


tr span{
    display: inline-block;
    border-bottom: 1px solid black;
}
tr td:nth-of-type(1) span{
    width: 150px;
 } 
   
tr td:nth-of-type(2) span{
    width: 120px;
 } 
tr td:nth-of-type(3) span{
    width: 120px;
  } 
 tr td:nth-of-type(4) span{
    width: 250px;
 } 
 tr span {
     height: 23px;
 }



.content{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}
.content::after{
content: "";
display: block;
clear: both;


}


