* {
	list-style: none;
	font-family: monospace;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.sidebar a {
	text-decoration: none;
	color: #07bca1;
}

.serch {
	border: 1px solid black;
	margin-left: 5.1%;
	display: inline-block;
	float: left;
}

.show {
	width: 1200px;
	margin-left: 25px;
	min-height: 300px;
	margin: 0 auto;
}

.show::after {
	content: "";
	display: block;
	clear: both;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 50px auto;
}

table tr:nth-of-type(1) td {
	border: 1px solid black;
	width: 60px;
	background-color: #e0dede;
}

table td {
	border: 1px solid black;
}

tr span {
	display: inline-block;
}

tr td:nth-of-type(1) span {
	width: 150px;
	background-color: #c6c6c6;
}

tr td:nth-of-type(2) span {
	width: 120px;
}

tr td:nth-of-type(3) span {
	width: 120px;
}

tr td:nth-of-type(4) span {
	width: 250px;
}

tr td:nth-of-type(5) span {
	width: 115px;
}

tr td:nth-of-type(6) span {
	width: 220px;
	background: #c6c6c6;
}

tr td:nth-of-type(7) span {
	width: 100px;
}

.controlPage {
	text-align: center;
}